@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #edf1f4;
    --primary-color: #2c997e;
    --secondary-color: #44334aee;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-image: linear-gradient(147deg, #c3cbdc 1%, #edf1f4 54%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Hero section  */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70rem;
    padding: 5rem 0;
    margin: auto;
}

.hero img {
    height: 18rem;
    width: 13.2rem;
    margin: auto;
    border-radius: 3rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio {
    width: 30rem;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 1%, #edf1f4 54%);
    border-radius: 1rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    margin-top: 9rem;
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
    color: var(--secondary-color);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

/* About me section */
.about-me {
    padding: 6rem;
    background-color: #8b8eaf39;
}

.about-me h2 {
    margin-bottom: var(--bottom-margin);
    color: var(--secondary-color);
}

.about-me p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.download {
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 54%);
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.download span {
    background: #f2594b;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.download span:last-child {
    margin-left: -20px;
}

.download:before,
.download:after {
    background: #ffffff;
    border: solid 3px #9fb4cc;
    border-radius: 4px;
    content: '';
    display: block;
    height: 35px;
    left: 50%;
    margin: -17px 0 0 -12px;
    position: absolute;
    top: 50%;
    width: 25px;
}

.download:before {
    margin: -23px 0 0 -5px;
}

.download span:first-child {
    display: none;
}

.download:hover span:first-child {
    display: inline-block;
}

.download:hover span:last-child {
    display: none;
}


/* Skill section */
.container {
    padding: 6rem 0;
}

.container h2 {
    margin-bottom: var(--bottom-margin);
    color: var(--secondary-color);
}

.about_skills .about-content {
    display: flex;
    flex-wrap: wrap;
}

.about-content .left-content {
    margin-top: 1.5rem;
    flex-basis: 55%;
    text-align: center;
}

.icon-card {
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 54%);
    border-radius: 1rem;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.about-content img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.about-content .right-content {
    flex-basis: 45%;
}

.skills-bar {
    text-align: left;
    margin: 1rem 0;
}

.skills-bar .bar {
    margin: 1.6rem 0;
}

.skills-bar .bar .info {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 600;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 0.6rem;
    width: 500px;
    background: var(--secondary-color);
    border-radius: 1rem;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    position: absolute;
    background: linear-gradient(to left, rgb(52, 232, 158), rgb(15, 52, 67));
    height: 100%;
    border-radius: 1rem;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}


@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line .html {
    width: 80%;
}

.progress-line .css {
    width: 70%;
}

.progress-line .bootstrap {
    width: 50%;
}

.progress-line .javascript {
    width: 50%;
}

.progress-line .react {
    width: 40%;
}

.progress-line .git {
    width: 60%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #07374a;
    font-size: 12px;
    font-weight: 700;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 54%);
    padding: 1px 8px;
    border-radius: 3px;
}

.progress-line .html::after {
    content: "80%";
}

.progress-line .css::after {
    content: "70%";
}

.progress-line .bootstrap::after {
    content: "50%";
}

.progress-line .javascript::after {
    content: "50%";
}

.progress-line .react::after {
    content: "40%";
}

.progress-line .git::after {
    content: "60%";
}


/* Projects */
.projects {
    padding: 2rem 5rem;
    background-color: #8b8eaf39;
}

.project-pic {
    width: 75%;
    height: 55%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    margin-bottom: 1rem;
    padding-top: 4rem;
    color: var(--secondary-color);
}

.project-container {
    text-align: center;
    width: 22rem;
    padding: 1rem;
}

.project-title {
    margin: 1rem;
    color: var(--secondary-color);
}

.project-card {
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 54%);
    border-radius: 1rem;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 30px;
    margin: 10px;
}

.project-link {
    border-radius: 0.5rem;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 54%);
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem;
    font-weight: var(--bold-font);
}

.project-link:hover {
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 84%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-weight: var(--bold-font);
    border: 1px solid var(--secondary-color);
}

/* Contact section */
.contact h2 {
    padding-top: 6rem;
    color: var(--secondary-color);
}

.contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.contact_container {
    text-align: left;
    padding: 0 20px;
    width: 40vw;
  }

  .contact_container p{
    padding: 0.3rem 0;
  }

.contact-form-container {
    max-width: 35rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 54%);
}

.contact-form-container label {
    line-height: 2.7rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 5rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 2px outset var(--primary-color);
    font-size: 1rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.7rem;
    background-color: #8b8eaf39;
    ;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 84%);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
}

/* Social icon */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

/* Footer and Scroll up button*/
#scrollToTopBtn {
    position: sticky;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 3rem;
    float: right;
}

iframe {
    height: 8rem;
    width: 95vw;
    padding: 1rem;
}

footer {
    padding: 1rem 0;
}

footer p{
    font-size: 1rem;
}

/* @media  */
@media (min-width: 1465px) {
    /* Hero and about me */

    .contact_container {
        text-align: left;
        padding: 0 20px;
        width: 20vw;
      }

}
@media (min-width: 1025px) {
     /* Hero and about me */
     .hero {
        margin-top: 1rem;
        padding: 1.5rem;
        gap: 10vw;
    }

    .hero img {
        height: 17rem;
        width: 13rem;
        margin: 4rem 0;
    }

    .bio {
        font-size: 1rem;
        width: 40vw;
        margin-top: 3rem;
    }

    .bio p{
        font-size: 1.1rem;
    }

   /* About me */
   .about-me {
       padding: 1rem 4rem;
   }

   .about-me h2 {
       padding-top: 4.6rem;
   }

   .about-me p {
       padding-bottom: 0rem;
   }

    /* Skill section */   
    .about-content .left-content {
        margin-top: 1.5rem;
        flex-basis: 55%;
    }

    .icon-card {
        padding: 1vw;
        margin: 0.5vw;
    }
    
    .about-content img {
        width: 10vw;
        height: auto;
    }

    .skills-bar .bar {
        margin: 1.5vw 0;
    }
    
    .skills-bar .bar .info {
        margin-bottom: 0.5vw;
    }
    
    .skills-bar .bar .progress-line {
        width: 35vw
    }

    .socicon {
        width: 2.5rem;
        height: 2.5rem;
    }
    
  }


@media screen and (max-width: 1024px) {

    /* Hero and about me */
    .hero {
        margin-top: -1rem;
        padding: 1.5rem;
        gap: 14vw;
    }

    .hero img {
        height: 15rem;
        width: 11rem;
        margin: 5rem 0;
    }

    .bio {
        font-size: 1rem;
        width: 35vw;
        margin-top: 1rem;
    }
   /* About me */
   .about-me {
       padding: 1rem 2rem;
   }

   .about-me h2 {
       padding-top: 4.6rem;
   }

   .about-me p {
       padding-bottom: 0rem;
   }

    /* Skill section */
    .about-content {
        display: flex;
        flex-direction: column;
    }

    .skills-bar {
        flex-direction: column;
        margin-top: 3rem;
        display: flex;
        align-items: center;
    }

    .about-content img {
        width: 20vw;
        height: auto;
    }

}

@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    /* Hero and about me */
    .hero {
        margin-top: -1rem;
        flex-direction: column;
        padding: 1.5rem;
        gap: 0;
    }

    .hero img {
        height: 15rem;
        width: 12rem;
        margin: 1rem;
    }

    .bio {
        margin-top: auto;
        font-size: 1rem;
        width: 70vw;
        margin-top: 1rem;
    }
   /* About me */
   .about-me {
       padding: 1rem 2rem;
   }

   .about-me h2 {
       padding-top: 4.6rem;
   }

   .about-me p {
       padding-bottom: 0rem;
   }

    /* Skill section */
    .about-content {
        display: flex;
        flex-direction: column;
    }

    .left-content,
    .right-content {
        width: 100vw;;
    }

    .skills-bar {
        flex-direction: column;
        margin-top: 3rem;
        display: flex;
        align-items: center;
    }

    .skills-bar .bar {
        margin: 1rem 0;
    }

    .skills-bar .bar .progress-line {
        position: relative;
        height: 0.5rem;
        width: 80vw;
    }
    
    .skills-bar .bar .info span {
        font-weight: 500;
    }

    .about-content img {
        width: 23vw;
        height: auto;
    }
    /* Projects */
    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 80vw;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    /* Contact section */
    .contact-form-container {
        max-width: 80vw;
    }

    .contact_container {
        text-align: left;
        padding: 0 20px;
        width: 70vw;
      }
    
    
    /* Footer and Scroll up button*/
    #scrollToTopBtn {
        width: 2rem;
    }

    iframe {
       display: none;
    }


}



